* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
main {
  margin-top: 3rem;
}
li {
  list-style-type: none;
  cursor: pointer;
}
.up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
}
.flex {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 90%;
  grid-gap: 2rem;
}
.gap {
  margin-top: 2.5rem;
}
.show {
  display: block;
}
.close {
  display: none;
}
.completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  -webkit-animation: completed,
    deleted 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: completed, deleted 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 100px;
  width: 200px;
}
.no-completed {
  display: none;
}
.deleted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  height: 50px;
  width: 200px;
  -webkit-animation: completed 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: completed 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.undone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orange;
  height: 50px;
  width: 200px;
  -webkit-animation: completed 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: completed 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 1rem;
}

@keyframes completed {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes deleted {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes undone {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
